<section id="contato" class="row">
  <div *ngfor="let err of ListaErros;">
  <div class="alert alert-danger"> {{err.texto}}</div>
</div>

<div *ngFor="let err of listaresultado;">
  <div [ngClass]="{'alert-success' : err.sucesso, 'alert-danger' : !err.sucesso}"
class="alert"> {{err.texto}}</div>
</div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <h1 class="card-title">contato</h1>
        <p class="card-text">veja mais ...</p>
        
        <form [formgroup]="contatoForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group">
            <input type="text" class="form-control"
            formControlName="nome" placeholder="nome" required />
            </div>
          
          <div class="form-group">
            <input type="email"  class="form-control"
            formControlName="email" placeholder="e-mail" required />
          </div>
          
          <div class="form-group">
            <textarea class="form-control"
            formcontrolname="texto" rows="3"
            placeholder="deixe um comentario"
            required minlength="5" maxlength="100"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">submit</button>
        </form>
      </div>
      
    </div>
  </div>
  
</section>

