<div class="container-fluid">
  <div class="row">
    <div class="cold-md-4" id="menu">
      <header>
        <div  id="menu-titulo">
          <h1>Lauana Blog </h1>
          <h2><i> Aprendendo Na Pratica </i> </h2>
        </div>
        <nav class="navbar navbar-inverse" id="menu-links">
          <div class="navbar-var">
            <a class="nav-item nav-link active" href="#sobre-mim">Sobre</a>
            <a class="nav-item nav-link" href="#artigos">Artigos</a>
            <a class="nav-item nav-link" href="#Contato">Contato</a>
          </div>
        </nav>
      </header>
    </div>
    <div class="cold-md-8" id="conteudo">conteudo</div>
    <article id="Sobre Mim">
      <h1>Sobre Mim</h1>
      <div> Veja Mais Sobre esse conteudi no site logo abaixo, ou no link na descrição </div>
      <button> Ler Mais</button>
    </article>
    <section id="artigos">
      <article class="artigo">
        <h1> Artigo 1 </h1>
        <div> Veja Mais Sobre esse conteudi no site logo abaixo, ou no link na descrição </div>
        <button> Ler Mais </button>
      </article>
      conteudo
    </section>
 </div>
</div>